/* View, Generate hash and Upload has Buttons */

.comic-button {
  /* display: inline-block; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 12px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Example border */
  border-radius: 4px; /* Example border-radius */
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #505565;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: 0.3s;
}

.comic-button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #505565;
}

.comic-button:active {
  background-color: #7f637c;
  box-shadow: none;
  transform: translateY(4px);
}

/* Hashpass generator button */

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(152, 147, 164, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 4.2rem;
  width: auto;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(10px);
}

/* Copy Button */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.7s;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.button-54::after {
  content: "copy!";
  position: absolute;
  top: -30px; /* Adjust this value to position the message above the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(
    0,
    0,
    0,
    0.35
  ); /* Background color for better visibility */
  color: #fbfbfbdf; /* Text color */
  padding: 5px 10px;
  border-radius: 3px;
  pointer-events: none; /* Ensure it doesn't interfere with the button click */
}

.button-54:hover::after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/* View on and off*/
.checkbox-wrapper-35 {
  display: inline-block;
  vertical-align: middle;
}

.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch + label {
  display: flex;
  align-items: center;
  color: #1f2023; /* On color */
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  user-select: none;
}

.checkbox-wrapper-35 .switch + label::before,
.checkbox-wrapper-35 .switch + label::after {
  content: "";
  display: block;
}

.checkbox-wrapper-35 .switch + label::before {
  background-color: #ffa09e; /* Off color */
  border-radius: 250px; /* Half the original */
  height: 30px; /* Half the original */
  margin-right: 16px; /* Adjusted proportionally */
  transition: background-color 0.125s ease-out;
  width: 50px; /* Half the original */
}

.checkbox-wrapper-35 .switch + label::after {
  background-color: #fff; /* Default background color */
  border-radius: 26px; /* Half the original */
  box-shadow: 0 6px 2px 0 rgba(37, 34, 71, 0.05),
    0 4px 4px 0 rgba(37, 34, 71, 0.1), 0 6px 6px 0 rgba(37, 34, 71, 0.05); /* Adjusted proportionally */
  height: 26px; /* Half the original */
  left: 2px; /* Adjusted proportionally */
  position: absolute;
  top: 2px; /* Adjusted proportionally */
  transition: transform 0.125s ease-out;
  width: 26px; /* Half the original */
}

.checkbox-wrapper-35 .switch + label .switch-x-text {
  margin-right: 0.6em; /* Adjusted proportionally */
}

.checkbox-wrapper-35 .switch + label .switch-x-toggletext {
  font-weight: bold;
  height: 30px; /* Half the original */
  overflow: hidden;
  position: relative;
  width: 50px; /* Half the original */
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked,
.checkbox-wrapper-35 .switch + label .switch-x-checked {
  position: absolute;
  top: 0;
  transition: opacity 0.125s ease-out, transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked {
  opacity: 1;
  transform: none;
}

.checkbox-wrapper-35 .switch + label .switch-x-checked {
  opacity: 0;
  transform: translate3d(0, 50%, 0); /* Adjusted proportionally */
}

.checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked + label::before {
  background-color: #1f2023; /* On color */
}

.checkbox-wrapper-35 .switch:checked + label::after {
  transform: translate3d(20px, 0, 0); /* Adjusted proportionally */
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
  opacity: 0;
  transform: translate3d(0, -50%, 0); /* Adjusted proportionally */
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
  opacity: 1;
  transform: none;
}

.checkbox-wrapper-35 .switch + label img {
  width: 36px; /* 1.5 times larger */
  height: 36px; /* 1.5 times larger */
  vertical-align: middle;
}
