body {
  background-image: url(img/bg4.jpg);
  background-size: 100%; /* This sets the background image to 100% of the body's dimensions */
}

.logo {
  width: 4.8rem;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  color: #000000;
  font-family: "Recursive", sans-serif;
  font-size: 4.2rem;
  margin-bottom: 4.2rem;
}

.validation-warning {
  font-size: 1rem;
}

.passwordWebsiteContainer {
  color: #000000;
  font-family: "Recursive", sans-serif;
  font-size: 2rem; /* Default font size */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr; /* 2 rows */
  gap: 2rem;
  position: relative; /* Add position relative to parent container */
}

.passOutput {
  height: 2rem;
  padding: 1rem;
  width: 275px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  box-shadow: 10px 8px 0px #505565;
  color: #e9e4e4;
  transition: 0.5s;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.HashPassGenerate {
  margin-top: 3.2rem;
}

.GenerateButton {
  font-family: "Recursive", sans-serif;
  font-size: 2.2rem;
  position: relative;
}

.HashPass {
  margin-top: 2rem;
  font-family: "Recursive", sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.copy {
  border-radius: 4px;
  box-shadow: 0.2px solid black;
}

.textBox {
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(97, 103, 113);
  border-radius: 4px;
  font-size: 1.6rem;
  color: rgb(247, 248, 248);
  appearance: none;
  transition: border 0.15s ease 0s;
  transition: 0.3s;
}

.textBox:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(241, 241, 241);
  box-shadow: 0px 0px 0px 2px rgb(92, 57, 57), 8px 8px 0px 0px rgb(158, 79, 170);
}

/* Options */
.options {
  gap: 0.8rem;
  margin: 1.8rem;
  display: grid;
  width: 50dvw;
  grid-template-columns: 0.3fr 0.4fr 0.4fr;
  justify-content: center;
  align-items: center;
}

.options button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* Adjust gap as needed */
  padding: 0.5rem; /* Adjust padding as needed */
}

.options img {
  position: relative; /* Change position to relative */
  top: 0; /* Reset any previous top value */
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    background-size: 100dvh; /* Set background size to 100% of the viewport height */
  }

  .passwordWebsiteContainer {
    font-size: 1.6rem; /* Decrease font size for smaller screens */
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto auto auto auto; /* 4 rows */
  }

  .logo {
    width: 3.6rem; /* Reduce logo size */
  }

  .pageHeading {
    font-size: 3rem; /* Reduce heading size */
    margin-bottom: 3rem; /* Adjust margin */
  }

  .passOutput {
    height: 1.5rem;
    padding: 0.8rem;
    width: 200px; /* Reduce width */
  }

  .GenerateButton {
    font-size: 1.8rem; /* Reduce button font size */
  }

  .HashPass {
    font-size: 1rem; /* Reduce text size */
    gap: 1rem; /* Adjust gap */
  }

  .options {
    width: 80dvw; /* Adjust width for phone screens */
  }

  .options button {
    padding: 0.4rem; /* Adjust padding */
  }
}

.validation-warning {
  color: rgba(0, 0, 0, 0.896);
  overflow-y: visible;
  overflow-x: visible;
  font-size: 0.6rem;
  position: absolute; /* Position absolutely for overlay */
  width: 300px;
  margin-top: 0.45rem;
}
