body {
  justify-self: center;
  align-self: center;
  /* backgroundi: linear-gradient(#e66465, #9198e5) no-repeat; */
  /* height: 100dvh; */
  /* width: 100dvb; */
  background-image: url(img/bg4.jpg);
  background-size: 100%; /* <------ */
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.validation-warning {
  font-size: 1rem;
}

.pageHeading {
  color: #000000;
  font-family: "Recursive", sans-serif;
  font-size: 4.2rem;
  margin-bottom: 4.2rem;
}

.passwordWebsiteContainer {
  color: #000000;
  font-family: "Recursive", sans-serif;
  font-size: 2rem; /* Default font size */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 1 column */
  grid-template-rows: 1fr 1fr; /* 4 rows */
  gap: 2rem;
  position: relative; /* Add position relative to parent container */
}

@media (max-width: 768px) {
  /* Adjust max-width as needed for phone screens */
  .passwordWebsiteContainer {
    font-size: 1.6rem; /* Decrease font size for smaller screens */
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto auto auto auto; /* 4 rows */
  }
}

.validation-warning {
  color: rgba(155, 244, 244, 0.896);
  overflow-y: visible;
  overflow-x: visible;
  font-size: 0.8rem;
  position: absolute; /* Position absolutely for overlay */
  width: 300px;
  margin-top: 0.45rem;
}

.passOutput {
  /*height: 1rem;*/
  padding: 1rem;
  width: 275px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  box-shadow: 10px 8px 0px #505565;
  color: #e9e4e4;
  transition: 0.5s;
}

.copyimg {
  width: 2rem;
  height: 2rem;
}

.HashPassGenerate {
  margin-top: 3.2rem;
}
.GenerateButton {
  font-family: "Recursive", sans-serif;
  font-size: 2.2rem;
  position: relative;
}
.HashPass {
  margin-top: 2rem;
  font-family: "Recursive", sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.copy {
  border-radius: 4px;
  box-shadow: 0.2px solid black;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(152, 147, 164, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(10px);
}

/* CSS */
.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.7s;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.button-54::after {
  content: "copy!";
  position: absolute;
  top: -30px; /* Adjust this value to position the message above the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(
    0,
    0,
    0,
    0.35
  ); /* Background color for better visibility */
  color: #fbfbfbdf; /* Text color */
  padding: 5px 10px;
  border-radius: 3px;
  pointer-events: none; /* Ensure it doesn't interfere with the button click */
}

.button-54:hover::after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.textBox {
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(97, 103, 113);
  border-radius: 4px;
  font-size: 1.6rem;
  color: rgb(247, 248, 248);
  appearance: none;
  transition: border 0.15s ease 0s;
  transition: 0.3s;
}

.textBox:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(241, 241, 241);
  box-shadow: 0px 0px 0px 2px rgb(92, 57, 57), 8px 8px 0px 0px rgb(158, 79, 170);
}
